<script setup lang="ts">
import DeclaravieRendering from './components/DeclarativeRendering.vue'
import AttributeBindings from './components/AttributeBindings.vue';
import EventListeners from './components/EventListeners.vue';
import FormBindings from './components/FormBindings.vue';
import ConditionalRendering from './components/ConditionalRendering.vue';
import ListRendering from './components/ListRendering.vue';
</script>
<template>
  <ListRendering />
  <ConditionalRendering />
  <h1>Hello World</h1>
  <DeclaravieRendering />
  <AttributeBindings />
  <EventListeners />
  <FormBindings />
</template>